@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* In your global CSS file or Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Light Theme Colors */
  --bg-color: #eeeeee; /* Light background */
  --text-color: #2d3748; /* Dark text */
  --link-color: #3182ce; /* Link color */
  --sidebar-bg-color: #ffffff; /* Sidebar background */
  --button-bg-color: #3182ce; /* Button background */
  --button-text-color: #eeeeee; /* Button text color */
  --text2-color: rgb(34, 34, 34);
}

.dark {
  /* Dark Theme Colors */
  --bg-color: #1a202c; /* Dark background */
  --text-color: #f7fafc; /* Light text */
  --link-color: #63b3ed; /* Link color */
  --sidebar-bg-color: #2d374869; /* Sidebar background */
  --text2-color: rgb(195, 210, 224);
  --button-bg-color: #2b6cb0; /* Button background */
  --button-text-color: #ffffff; /* Button text color */
}

/* Apply the colors globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: all 0.3s linear; */
}

a{
  color: var(--text-color);
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.gridItems{
  background-color: var(--sidebar-bg-color);
  color: var(--text2-color);
}
.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
}
input,.mainColor{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.details{
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 500;
  height: 57px;
  margin: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: wrap;
}